inet/*
/.metadata/
*.anf
*.sca
*.vec
*.csv
*.vci
*.log
*.pyc
/.settings
/out
/src/dspr*
src/Makefile
/Makefile
.DS_Store
*.so
/src/*.so
src/Dspr_m.cc
src/Dspr_m.h
simulations/slurm*
simulations/results/simresults
/results